html {
    font-family: Helvetica, sans-serif;
}

nav ul {
    display: inline-block;
    align-items: center;
    width: 0 auto;
}

.about-me{
    display: inline-block;
}

#me, .photos, .dogs {
    border-radius: 10px;
    height: 20%;
    width: 20%;
}
